argh==0.26.2
click==6.6
colorama==0.3.7
docopt==0.6.2
Flask==0.11.1
funcsigs==1.0.2
github3.py==0.9.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mock==2.0.0
pathtools==0.1.2
pbr==1.10.0
py==1.4.31
pytest==3.0.4
pytest-watch==4.1.0
PyYAML==3.12
requests==2.11.1
six==1.10.0
uritemplate==3.0.0
uritemplate.py==3.0.2
watchdog==0.8.3
Werkzeug==0.11.11
